body {
	color: #c43636 !important;
}
.ui-inputtext {
	height: 40px !important;
	width: 200px !important;
	color: #c43636 !important;
}
.ui-password {
	height: 30px !important;
	width: 200px !important;
	color: #c43636 !important;
}
.ui-button {
	height: 50px !important;
	width: 200px !important;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.ui-watermark {
	color: #8080ff;
	font-weight: normal !important;
}