body{
	margin:0;
	padding:0;
	font-family:'Arial',serif;
}
.nav{
	background-color:#ffffff;
	color:#000000;
	list-style:none;
	text-align:right;
	padding:20px 0 0 0;
}
.nav > li {
	display:inline-block;
	padding:0 25 px 0 25px ;
	font-size:12px;
	
}
.nav > li > a {
	text-decoration:none;
	color:#000000;

	}
	.nav > li > a:hover {
	color:#000000;
	}
	.logo{
	color:#000000;
	float:left;
	padding-left:25px;
	font-size:16px;
	font-wight:bold;
	}
		.logo > a {
	text-decoration:none;
	color:#000000;
		}
		
		
		.banner{
		width:20px
		display:block;
		}
		.banner > .banner-image{
		width:20px;
		height:20%;
		display:block;
		}